<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>teste</title>
</head>

<body>
    {{msg}}
    <form method="POST" action="/send">
        <div class="form-group">
            <label for="inputEmail" class="text-white font-weight-bold">E-mail</label>
            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Insira seu E-mail."
                required>
        </div>
        <div class="form-group">
            <label for="inputNome" class="text-white font-weight-bold">Nome</label>
            <input type="text" class="form-control" name="name" id="inputNome" required placeholder="Insira seu nome.">
        </div>
        <div class="form-group">
            <label for="FeedBackMessage" class="text-white font-weight-bold">Mensagem</label>
            <textarea class="form-control" name="mensagem" id="FeedBackMessage" rows="3"
                placeholder="Diga-nos o que acha." required></textarea>
        </div>
        <div class="form-group text-center">
            <button type="submit" id="enviar" class="btn btn-outline-success font-weight-bold">Enviar
                Feedback</button>
        </div>
    </form>
</body>

</html>